.vs
Domain/obj
Infrastructure/obj 
Domain/bin
IccPlanner/bin
Infrastructure/bin
Application/obj
obj
Application/bin
TemplateEngineHost
Test/lcov.info
Test/bin
Test/coverage-report
Tests/bin
Tests/.config
.sonarqube/bin
.sonarqube/conf/0
.sonarqube/conf/1
.sonarqube/conf/2
.sonarqube/conf/3
.sonarqube/conf/cs
.sonarqube/conf/vbnet
.sonarqube/out
