.vs
IccPlanner/obj
IccPlanner/obj
Domain/obj
Infrastructure/obj 
Domain/bin
IccPlanner/bin
Infrastructure/bin
Application/obj
obj
Application/bin
TemplateEngineHost
Test/lcov.info
Test/bin
Test/coverage-report
Tests/bin
Tests/.config
IccPlanner/appsettings.Development.json
