.vs
IccPlanner/obj
IccPlanner/obj
Domain/obj
Infrastructure/obj
IccPlanner.sln
Domain/bin
IccPlanner/bin
Infrastructure/bin
Application/obj
obj
Application/bin
TemplateEngineHost
.sonarqube
Test/lcov.info
Test/bin
Test/coverage-report
Tests/bin
Tests/.config
